{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <h3 class="text-center mb-4">Archivos de multas - Iniciar sesión</h3>
      <form method="post" action="{{ url_for('login') }}">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            id="email"
            name="email"
            type="email"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input
            id="password"
            name="password"
            type="password"
            class="form-control"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary w-100">Entrar</button>
        <a href="{{ url_for('register')}}" class="btn btn-secondary w-100 my-2">Registrate</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
